body {
  margin: 2em;
}

.cd-timeline-img {
  background: #5cb85c;
}

.failure .cd-timeline-img {
  background: #d9534f;
}

.release .cd-timeline-img {
  background: #5bc0de;
}

.cd-timeline-content {
  color: #4e5d6c;
}

.cd-timeline-content h2 {
  font-weight: bold;
  margin-top: 0;
}

.cd-timeline-content p:last-of-type {
  margin-bottom: 0;
}

.cd-timeline-content .cd-date {
  margin-bottom: 0;
  padding-bottom: 0;
  float: right;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content .cd-date {
    color: white;
    float: left;
  }
}